<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color fixed-top scrolling-navbar">
           
    <!-- Navbar brand -->
 

    <!-- Collapsible content -->
    <links style=" margin-left: -70px;" >

        <!-- Links -->
        <ul class="navbar-nav firstnav ml-auto" style="font-size:13px" >
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbRippleRadius>Discover Items Near You<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Post Your Items For Rent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Request An Item For Renticing</a>
            </li>
			<li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Requested Items Near You</a>
            </li>
			
			<li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>Partner With Us</a>
            </li>
			<li class="nav-item">
                <a class="nav-link waves-light" mdbRippleRadius>About us</a>
            </li>
			 <li class="nav-item active">
            <button class="btn btn-primary btn-sm" mdbRippleRadius>Login/SignUp </button>
            </li>
            <span class="navbar-text white-text">
            Download App&nbsp;&nbsp;
          </span>
            <span class="navbar-text white-text">
            <i class="fa fa-apple " style="font-size: 20px" >&nbsp;&nbsp;</i>
          </span>
          <span class="navbar-text white-text">
            <i class="fa fa-android " style="font-size: 20px" ></i>
          </span>
            <!-- Dropdown -->
            
        </ul>
        <!-- Links -->

        <!-- Search form -->
		
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->